{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1920, user-scalable=no">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/ico" />

    <title>{% block title %}{% endblock %}</title>

    <link href="{% static 'css/vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/vendors/dataTables/dataTables.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/vendors/others/daterangepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.min.css' %}" rel="stylesheet">
    <style>
        .resetZoom {
            position: absolute;
            top: 1vh;
            left: 4vw;
            z-index: 10;
            cursor: pointer;
        }
    </style>
</head>

<body class="nav-sm">
    <div class="container body">
        <div class="main_container">
            {% if request.path != '/dashboard/' %}
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    {% include 'sidebar.html' %}
                </div>
            </div>
            {% endif %}


            <script src="{% static 'js/vendors/jquery/dist/jquery.min.js' %}"></script>
            <script src="{% static 'js/vendors/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
            <script src="{% static 'js/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
            <script src="{% static 'js/vendors/dataTables/dataTables.min.js' %}"></script>
            <script src="{% static 'js/vendors/others/moment.min.js' %}"></script>
            <script src="{% static 'js/vendors/others/chart.js' %}"></script>
            <script src="{% static 'js/vendors/others/chartjs-adapter-moment@1.0.0.js' %}"></script>
            <script src="{% static 'js/vendors/others/chartjs-plugin-zoom.min.js' %}"></script>
            <script src="{% static 'js/vendors/others/chartjs-plugin-datalabels@2.0.0.js' %}"></script>
            <script src="{% static 'js/vendors/others/chartjs-plugin-annotation.min.js' %}"></script>
            <script src="{% static 'js/vendors/others/chartjs-plugin-autocolors.js' %}"></script>
            <script src="{% static 'js/vendors/others/echarts.min.js' %}"></script>
            <script src="{% static 'js/vendors/others/d3.min.js' %}"></script>
            <script src="{% static 'js/custom.js' %}"></script>

            <script>
                // const autocolors = window['chartjs-plugin-autocolors'];
                // Chart.register(autocolors);

                const featureSet = [
                    "Active Power", "Reactive Power", "Governor speed actual", "UGB X displacement", "UGB Y displacement",
                    "LGB X displacement", "LGB Y displacement", "TGB X displacement",
                    "TGB Y displacement", "Stator winding temperature 13",
                    "Stator winding temperature 14", "Stator winding temperature 15",
                    "Surface Air Cooler Air Outlet Temperature",
                    "Surface Air Cooler Water Inlet Temperature",
                    "Surface Air Cooler Water Outlet Temperature",
                    "Stator core temperature", "UGB metal temperature",
                    "LGB metal temperature 1", "LGB metal temperature 2",
                    "LGB oil temperature", "Penstock Flow", "Turbine flow",
                    "UGB cooling water flow", "LGB cooling water flow",
                    "Generator cooling water flow", "Governor Penstock Pressure",
                    "Penstock pressure", "Opening Wicked Gate", "UGB Oil Contaminant",
                    "Gen Thrust Bearing Oil Contaminant"
                ];

                const unitSet = [
                    "MW", "Mvar", "RPM", "µm", "µm",
                    "µm", "µm", "µm", "µm", "˚C",
                    "˚C", "˚C", "˚C", "˚C",
                    "˚C", "˚C", "˚C",
                    "˚C", "˚C", "˚C", "Cumecs", "Cumecs",
                    "Cumecs", "Cumecs",
                    "Cumecs", "mBar",
                    "mBar", "%", "",
                    ""
                ];

                const xChartLineFormat = {
                    type: 'time',
                    time: {
                        unit: 'minute',
                        tooltipFormat: 'Do-MMM HH:mm',
                        displayFormats: { minute: 'Do-MMM HH:mm' }
                    },
                    ticks: {
                        minRotation: 45,
                        maxTicksLimit: 7,
                        autoSkip: false,
                    },
                    title: {
                        display: true,
                        text: 'Timestamp'
                    }
                }

                const zoomPluginsLineConfig = {
                    zoom: {
                        wheel: {
                            enabled: false // Disable zoom on scroll
                        },
                        drag: {
                            enabled: true, // Enable drag-to-zoom
                            borderColor: 'rgba(0,0,0,0.3)',
                            borderWidth: 1,
                            backgroundColor: 'rgba(0,0,0,0.1)'
                        },
                        mode: 'xy' // Zoom in both X and Y directions
                    },
                    pan: {
                        enabled: false,
                        mode: 'x'
                    }
                }

                const dateRangeOptions1 = {
                    startDate: moment().subtract(29, 'days'),
                    endDate: moment(),
                    minDate: '01/01/2021',
                    maxDate: '12/31/2045',
                    dateLimit: {
                        days: 150
                    },
                    showDropdowns: true,
                    showWeekNumbers: true,
                    timePicker: false,
                    timePickerIncrement: 1,
                    timePicker12Hour: false,
                    ranges: {
                        'Today': [moment(), moment()],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'Last 60 Days': [moment().subtract(59, 'days'), moment()],
                        'Last 90 Days': [moment().subtract(89, 'days'), moment()],
                    },
                    opens: 'right',
                    buttonClasses: ['btn btn-default'],
                    applyClass: 'btn-small btn-primary',
                    cancelClass: 'btn-small',
                    format: 'DD/MM/YYYY',
                    separator: ' to ',
                    locale: {
                        applyLabel: 'Submit',
                        cancelLabel: 'Clear',
                        fromLabel: 'From',
                        toLabel: 'To',
                        customRangeLabel: 'Custom',
                        monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                        firstDay: 1
                    }
                };

                const gaugeSeverityChartOptions = {
                    responsive: true,
                    maintainAspectRatio: false,
                    series: [
                        {
                            type: 'gauge',
                            startAngle: 180,
                            endAngle: 0,
                            center: ['50%', '75%'],
                            radius: '90%',
                            min: 0,
                            max: 6,
                            splitNumber: 6,
                            axisLine: {
                                lineStyle: {
                                    width: 10,
                                    color: [
                                        [0.16, '#00ff00'],
                                        [0.32, '#aaff00'],
                                        [0.48, '#ffff00'],
                                        [0.64, '#ffaa00'],
                                        [0.80, '#ff5500'],
                                        [1, '#ff0000']
                                    ]
                                }
                            },
                            pointer: {
                                icon: 'path://M12.8,0.7l12,40.1H0.7L12.8,0.7z',
                                length: '12%',
                                width: 20,
                                offsetCenter: [0, '-60%'],
                                itemStyle: {
                                    color: 'auto'
                                }
                            },
                            axisTick: {
                                length: 12,
                                lineStyle: {
                                    color: 'auto',
                                    width: 2
                                }
                            },
                            splitLine: {
                                length: 20,
                                lineStyle: {
                                    color: 'auto',
                                    width: 5
                                }
                            },
                            axisLabel: {
                                color: '#464646',
                                fontSize: 14,
                                distance: -50,
                                rotate: 'tangential',
                                formatter: function (value) {
                                    if (value === 0) {
                                        return '0';
                                    } else if (value === 1) {
                                        return '1';
                                    } else if (value === 2) {
                                        return '2';
                                    } else if (value === 3) {
                                        return '3';
                                    } else if (value === 4) {
                                        return '4';
                                    } else if (value === 5) {
                                        return '5';
                                    } else if (value === 6) {
                                        return '6';
                                    }
                                    return '';
                                }
                            },
                            title: {
                                offsetCenter: [0, '-10%'],
                                fontSize: 20
                            },
                            detail: {
                                fontSize: 30,
                                offsetCenter: [0, '-35%'],
                                valueAnimation: true,
                                formatter: function (value) {
                                    return Math.round(value) + '';
                                },
                                color: 'inherit'
                            },
                            data: [
                                {
                                    value: 1,
                                    name: 'Severity Level'
                                }
                            ]
                        }
                    ]
                };

                let nowDateMoment = moment.utc();
                //let nowDateMoment = moment.utc("2021-05-28T05:40:00");
            </script>

            <script>
                function percentage2severity(value) {
                    return (value >= 0 && value < 5) ? 1 :
                        (value >= 5 && value < 20) ? 2 :
                            (value >= 20 && value < 40) ? 3 :
                                (value >= 40 && value < 75) ? 4 :
                                    (value >= 75 && value <= 100) ? 5 : 6;
                }
            </script>

            <!-- page content -->
            <div class="right_col" role="main" style="{% if request.path == '/dashboard/' %}margin-left: 0px;{% endif %}">
                {% block content %}{% endblock %}
            </div>
            <!-- /page content -->

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    -
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
</body>

</html>