{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/ico" />

    <title>{% block title %}{% endblock %}</title>

    <link href="{% static 'css/vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}"
        rel="stylesheet">
    <link href="{% static 'css/vendors/dataTables/dataTables.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.min.css' %}" rel="stylesheet">
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    {% include 'sidebar.html' %}
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;"></li>
                            <li role="presentation" class="nav-item dropdown open"></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->

            <script src="{% static 'js/vendors/jquery/dist/jquery.min.js' %}"></script>
            <script src="{% static 'js/vendors/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
            <script src="{% static 'js/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
            <script src="{% static 'js/vendors/dataTables/dataTables.min.js' %}"></script>
            <script src="{% static 'js/vendors/others/moment.min.js' %}"></script>
            <script src="{% static 'js/vendors/others/chart.js' %}"></script>
            <script src="{% static 'js/vendors/others/chartjs-adapter-moment@1.0.0.js' %}"></script>
            <script src="{% static 'js/vendors/others/chartjs-plugin-zoom.min.js' %}"></script>
            <script src="{% static 'js/vendors/others/chartjs-plugin-datalabels@2.0.0.js' %}"></script>
            <script src="{% static 'js/vendors/others/d3.min.js' %}"></script>
            <script src="{% static 'js/custom.js' %}"></script>

            <script>
                const featureSet = [
                    "Active Power", "Reactive Power", "Governor speed actual", "UGB X displacement", "UGB Y displacement",
                    "LGB X displacement", "LGB Y displacement", "TGB X displacement",
                    "TGB Y displacement", "Stator winding temperature 13",
                    "Stator winding temperature 14", "Stator winding temperature 15",
                    "Surface Air Cooler Air Outlet Temperature",
                    "Surface Air Cooler Water Inlet Temperature",
                    "Surface Air Cooler Water Outlet Temperature",
                    "Stator core temperature", "UGB metal temperature",
                    "LGB metal temperature 1", "LGB metal temperature 2",
                    "LGB oil temperature", "Penstock Flow", "Turbine flow",
                    "UGB cooling water flow", "LGB cooling water flow",
                    "Generator cooling water flow", "Governor Penstock Pressure",
                    "Penstock pressure", "Opening Wicked Gate", "UGB Oil Contaminant",
                    "Gen Thrust Bearing Oil Contaminant"
                ];

                const unitSet = [
                    "MW", "Mvar", "RPM", "µm", "µm",
                    "µm", "µm", "µm", "µm", "˚C",
                    "˚C", "˚C", "˚C", "˚C",
                    "˚C", "˚C", "˚C",
                    "˚C", "˚C", "˚C", "Cumecs", "Cumecs",
                    "Cumecs", "Cumecs",
                    "Cumecs", "mBar",
                    "mBar", "%", "",
                    ""
                ];
            </script>

            <!-- page content -->
            <div class="right_col" role="main">
                {% block content %}{% endblock %}
            </div>
            <!-- /page content -->

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    -
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
</body>

</html>