<!-- templates/index.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}10 Charts - Vale Dash{% endblock %}

{% block content %}

<style>
    #custom-tooltip {
        position: absolute;
        background: white;
        border: 1px solid black;
        padding: 10px;
        border-radius: 5px;
        pointer-events: auto;
        display: none;
        z-index: 1000;
    }
</style>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="alert alert-warning" role="alert">
            <b>These are the Top 10 Parameters and the corresponding Severity Trends derived from the Severity Chart on the Home page, reflecting trends over the past month.</b>
        </div>
    </div>
</div>

<div class="row" id="chart_container">
    <!-- <div class="col-md-12 col-sm-12">
        <div class="x_panel tile fixed_height_320">
            <div class="x_title">
                <h2>Active Power</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li class="dropdown"></li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <button onclick="resetZoom()">Reset Zoom</button>
                <div id="custom-tooltip0"></div>
                <canvas id="chart_data0" style="width: 100%; height: 200px"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12">
        <div class="x_panel tile fixed_height_320">
            <div class="x_title">
                <h2>Reactive Power</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li class="dropdown"></li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <button onclick="resetZoom()">Reset Zoom</button>
                <div id="custom-tooltip1"></div>
                <canvas id="chart_data1" style="width: 100%; height: 200px"></canvas>
            </div>
        </div>
    </div> -->
</div>

<div class="row">
    <!-- <div class="col-md-12 col-sm-12 ">
        <div class="dashboard_graph">
            <div class="row x_title">
                <div class="col-md-6">
                    <h3>Sensor Parameters</h3>
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="col-md-12 col-sm-12" style="width: 100%; height: 200px;"></div>
        </div>
    </div> -->

    <!-- Bootstrap Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 80%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Popup</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="{% static 'img/output2.png' %}" class="img-fluid mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function severity2color(severity) {
        const norm = (severity - 1) / 5; // Normalize severity to range [0,1]
        const colorScale = d3.scaleLinear()
            .domain([0, 0.5, 1]) // Normalized values
            .range(["green", "yellow", "red"]); // Corresponding colors

        return colorScale(norm); // Return the mapped color
    }

    let chart_array = [];

    let sensor_data = [];
    let severity_data = [];
    let severity_color_data = [];

    $(document).ready(function () {
        var end_date = nowDateMoment.format("YYYY-MM-DDTHH:mm:ss");
        var start_date = nowDateMoment.subtract(30, 'days').format("YYYY-MM-DDTHH:mm:ss");

        $.ajax({
            type: "GET",
            dataType: "json",
            data: { start_date: start_date, end_date: end_date },
            url: "/api/top10_charts",
            success: function (data) {
                for (let index = 0; index < data.counter_feature_s2.length; index++) {
                    var current_sensor_name = data.counter_feature_s2[index];

                    let current_sensor_data = [];
                    let current_severity_data = [];
                    let current_severity_color_data = [];
                    let current_max = -999999;

                    for (var i = 0; i < data['df_timestamp'].length; i++) {
                        if (current_max < data['sensor_datas'][i][index]) {
                            current_max = data['sensor_datas'][i][index]
                        }
                        current_sensor_data.push({
                            x: data['df_timestamp'][i], y: data['sensor_datas'][i][index]
                        })
                    }

                    document.getElementById("chart_container").innerHTML += `
                        <div class="col-md-12 col-sm-12">
                            <div class="x_panel tile">
                                <div class="x_title">
                                    <h2 id="title_sensor${index}">${current_sensor_name}</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                        <li class="dropdown"></li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <button onclick="resetZoom(${index})">Reset Zoom</button>
                                    <div id="custom-tooltip${index}" style=" position: absolute; background: white; border: 1px solid black; padding: 10px; border-radius: 5px; pointer-events: auto; display: none; z-index: 1000; "></div>
                                    <canvas id="chart_data${index}" style="width: 100%; height: 400px"></canvas>
                                </div>
                            </div>
                        </div>
                        `

                    current_max = current_max * 1.03
                    for (var i = 0; i < data['df_timestamp'].length; i++) {
                        if (data['severity_trending_datas'][i][index] >= 5) {
                            var severity = percentage2severity(data['severity_trending_datas'][i][index]);
                            current_severity_data.push({
                                x: data['df_timestamp'][i], y: current_max, severity_value: data['severity_trending_datas'][i][index]
                            })
                            current_severity_color_data.push(severity2color(severity))
                        }
                    }
                    severity_data.push(current_severity_data);
                    severity_color_data.push(current_severity_color_data);

                    setTimeout(() => {
                        var ctx = document.getElementById(`chart_data${index}`).getContext('2d');

                        chart_array.push(new Chart(ctx, {
                            type: 'line',
                            data: {
                                datasets: [{
                                    label: data.counter_feature_s2[index],
                                    data: current_sensor_data,
                                    borderColor: 'blue',
                                    backgroundColor: 'transparent',
                                    tension: 0.4,
                                    pointBackgroundColor: 'transparent',
                                    pointRadius: 0,
                                    pointHoverRadius: 0,
                                    parsing: {
                                        xAxisKey: 'x',
                                        yAxisKey: 'y'
                                    }
                                }, {
                                    label: 'Severity',
                                    type: 'scatter',
                                    data: severity_data[index],
                                    pointBackgroundColor: severity_color_data[index],
                                    pointRadius: 5,
                                    tension: 0
                                }]
                            },
                            options: {
                                responsive: false,
                                scales: {
                                    x: xChartLineFormat,
                                    y: {
                                        min:data.sensor_statistic_current[0][index],
                                        max:data.sensor_statistic_current[1][index] + data.sensor_statistic_current[3][index],
                                        title: {
                                            display: true,
                                            text: unitSet[featureSet.indexOf(data.counter_feature_s2[index])]
                                        }
                                    }
                                },
                                plugins: {
                                    tooltip: {
                                        enabled: false,
                                    },
                                    zoom: zoomPluginsLineConfig
                                },
                                onClick: (event, elements) => {
                                    if (elements.length > 0) {
                                        const datasetIndex = elements[0].datasetIndex;
                                        if (datasetIndex === 1) {
                                            var now_idx_sensor = parseInt(event.native.target.id.replace('chart_data', ''));
                                            var tooltipEl = document.getElementById(`custom-tooltip${now_idx_sensor}`);

                                            const index = elements[0].index;
                                            const pointData = severity_data[now_idx_sensor][index];
                                            const meta = chart_array[now_idx_sensor].getDatasetMeta(1);
                                            const point = meta.data[index];
                                            const canvasRect = chart_array[now_idx_sensor].canvas.getBoundingClientRect();

                                            const clickedData = chart_array[now_idx_sensor].data.datasets[datasetIndex].data[index];


                                            // Get pixel coordinates
                                            const xScale = chart_array[now_idx_sensor].scales.x;
                                            const yScale = chart_array[now_idx_sensor].scales.y;
                                            const xPx = xScale.getPixelForValue(new Date(clickedData.x));
                                            const yPx = yScale.getPixelForValue(clickedData.y);

                                            // Position tooltip div
                                            tooltipEl.innerHTML = `Time: ${pointData.x}<br>Severity Percentage: ${pointData.severity_value}<br>
                    <button class="btn btn-primary btn-sm mt-2" onclick="openModal()">See Detail</button>`;

                                            tooltipEl.style.left = `${xPx + chart_array[now_idx_sensor].canvas.offsetLeft}px`;
                                            tooltipEl.style.top = `${yPx + chart_array[now_idx_sensor].canvas.offsetTop - 30}px`;
                                            tooltipEl.style.display = 'block';
                                        }

                                    } else {
                                        var now_idx_sensor = parseInt(event.native.target.id.replace('chart_data', ''));
                                        var tooltipEl = document.getElementById(`custom-tooltip${now_idx_sensor}`);
                                        tooltipEl.style.display = 'none';
                                    }
                                }
                            }
                        }));
                    }, 500);
                }
            }
        });

        setTimeout(() => {
            location.reload();
        }, 5 * 60 * 1000);
    });

    function resetZoom(index_chart) {
        chart_array[index_chart].resetZoom();
    }

    function openModal() {
        var modal = new bootstrap.Modal(document.getElementById('myModal'));
        modal.show();
    }
</script>
{% endblock %}