<!-- templates/index.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home - Vale Dash{% endblock %}

{% block content %}

<style>
    #custom-tooltip {
        position: absolute;
        background: white;
        border: 1px solid black;
        padding: 10px;
        border-radius: 5px;
        pointer-events: auto;
        display: none;
        z-index: 1000;
    }
</style>
<style>
    .custom_button_status {
        /* height: 5vh; */
        font-size: 0.9rem;
        border-radius: 5px;
        /* border-color: black;
        border-width: 2px; */
    }

    .box_withborder {
        border-radius: 5px;
        border-color: black;
        border-width: 2px;
    }

    .sparkline {
        width: 110px;
        height: 20px;
    }
</style>
<style>
    div.dt-container div.dt-layout-row {
        margin: 0 !important;
    }

    .nav-sm .container.body .right_col {
        padding: 0 !important;
        margin-left: 0 !important;
    }

    .nav-sm .container.body .right_col {
        padding: 0 !important;
        margin-left: 0 !important;
    }
</style>

<div class="row" id="chart_container">
    <div class="col-lg-7 col-md-7 col-sm-12 px-0">
        <div class="x_panel tile">
            <div class="x_content">
                <div class="position-relative" style="background-color: rgb(243, 243, 243);">
                    <img src="{% static 'img/main_hydro2.png' %}" style="max-width: 100%;height: 85vh">
                    <div id="sensor_point2" class="position-absolute" style="display: none;"></div>
                    <div id="sensor_point1" class="position-absolute"></div>
                    <div id="sensor_point3" class="position-absolute"></div>
                    <div id="sensor_point4" class="position-absolute"></div>
                    <div id="sensor_point5" class="position-absolute"></div>
                    <div id="sensor_point6" class="position-absolute"></div>
                    <div id="sensor_point7" class="position-absolute"></div>
                    <div id="sensor_point8" class="position-absolute"></div>
                    <div id="sensor_point9" class="position-absolute"></div>
                    <div id="sensor_point10" class="position-absolute"></div>
                    <div id="sensor_point11" class="position-absolute"></div>
                    <div id="sensor_point12" class="position-absolute"></div>
                    <div id="sensor_point13" class="position-absolute"></div>
                    <div id="sensor_point14" class="position-absolute"></div>
                    <div id="sensor_point15" class="position-absolute"></div>
                    <div id="sensor_point16" class="position-absolute"></div>
                    <div id="sensor_point17" class="position-absolute"></div>
                    <div id="sensor_point18" class="position-absolute"></div>
                    <div id="sensor_point19" class="position-absolute"></div>
                    <div id="sensor_point20" class="position-absolute"></div>
                    <div id="sensor_point21" class="position-absolute"></div>
                    <div id="sensor_point22" class="position-absolute"></div>
                    <div id="sensor_point23" class="position-absolute"></div>
                    <div id="sensor_point24" class="position-absolute"></div>
                    <div id="sensor_point25" class="position-absolute"></div>
                    <div id="sensor_point26" class="position-absolute"></div>
                    <div id="sensor_point27" class="position-absolute"></div>
                    <div id="sensor_point28" class="position-absolute"></div>
                    <div id="sensor_point29" class="position-absolute"></div>
                    <div id="sensor_point30" class="position-absolute"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 px-0">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="x_panel tile">
                    <div>
                        <div style="display: flex; align-items: center;">
                            <img src="{% static 'img/vale_logo.jpeg' %}" style="border-radius: 20%; width: 35px;">
                            <h2 style="margin-left: 10px;">Condition Based Monitoring System Plant - LGS1</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="x_panel tile">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <canvas id="operation_modeChart" style="width: 100%; height: 25vh;"></canvas>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <canvas id="operation_zoneChart" style="width: 100%; height: 30vh;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="">
                    <table id="example" class="table table-bordered" style="width:100%; background-color: white;">
                        <thead>
                            <tr>
                                <th>Assets Name</th>
                                <th>Priority</th>
                                <th>Severity</th>
                                <th>Sensor Sparkline</th>
                                <th>Severity Counter</th>
                            </tr>
                        </thead>
                        <tbody id="advisory_maintable">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel tile">
            <div class="x_content">
                <p>Last Update sakjdhakjsdhas, Will be Update in sajdkaskljdhjsa, Last Calculation: <span
                        id="last_calcdate"></span></p>
            </div>
        </div>
    </div>
</div>

<script>
    const sensorPoints = [
        { id: 'sensor_point1', top: 0, left: 0, name: "Active Power" },
        { id: 'sensor_point2', top: 0, left: 0, name: "Reac Power" },
        { id: 'sensor_point3', top: 7, left: 0, name: "Governor Speed" },
        { id: 'sensor_point4', top: 8, left: 74, name: "UGB X displacement" },
        { id: 'sensor_point5', top: 15, left: 74, name: "UGB Y displacement" },
        { id: 'sensor_point6', top: 52, left: 58, name: "LGB X displacement" },
        { id: 'sensor_point7', top: 59, left: 58, name: "LGB Y displacement" },
        { id: 'sensor_point8', top: 71, left: 63, name: "TGB X displacement" },
        { id: 'sensor_point9', top: 78, left: 63, name: "TGB Y displacement" },
        { id: 'sensor_point10', top: 20.5, left: 0, name: "Stator winding T. 13" },
        { id: 'sensor_point11', top: 28, left: 0, name: "Stator winding T. 14" },
        { id: 'sensor_point12', top: 35, left: 0, name: "Stator winding T. 15" },
        { id: 'sensor_point13', top: 38, left: 79, name: "Surface Air Cooler Air Outlet T." },
        { id: 'sensor_point14', top: 48, left: 79, name: "Surface Air Cooler Water Inlet T." },
        { id: 'sensor_point15', top: 58, left: 79, name: "Surface Air Cooler Water Outlet T." },
        { id: 'sensor_point16', top: 42, left: 2, name: "Stator core T." },
        { id: 'sensor_point17', top: 9, left: 24, name: "UGB metal Temp" },
        { id: 'sensor_point18', top: 47, left: 15, name: "LGB metal Temp 1" },
        { id: 'sensor_point19', top: 54, left: 15, name: "LGB metal Temp 2" },
        { id: 'sensor_point20', top: 61, left: 16.5, name: "LGB oil Temp" },
        { id: 'sensor_point21', top: 79, left: 17, name: "Penstock Flow" },
        { id: 'sensor_point22', top: 86, left: 18, name: "Turbine flow" },
        { id: 'sensor_point23', top: 7.5, left: 57, name: "UGB CW flow" },
        { id: 'sensor_point24', top: 41, left: 61, name: "LGB CW flow" },
        { id: 'sensor_point25', top: 24, left: 82, name: "Generator CW flow" },
        { id: 'sensor_point26', top: 177, left: 11.5, name: "Governor Penstock Press" },
        { id: 'sensor_point27', top: 72, left: 15.5, name: "Penstock pressure" },
        { id: 'sensor_point28', top: 191, left: 10.5, name: "Opening Wicked Gate" },
        { id: 'sensor_point29', top: 2, left: 22.5, name: "UGB Oil Contaminant" },
        { id: 'sensor_point30', top: 205, left: 9.5, name: "Gen Thrust Bearing Oil Contaminant" }
    ];

    function percentageToWidth(severity) {
        return (severity / 6) * 100;
    }

    function severity2color(severity) {
        const norm = (severity - 1) / 5; // Normalize severity to range [0,1]
        const colorScale = d3.scaleLinear()
            .domain([0, 0.5, 1]) // Normalized values
            .range(["green", "yellow", "red"]); // Corresponding colors

        return colorScale(norm); // Return the mapped color
    }

    function percentage2color(severity) {
        const norm = severity / 100; // Normalize severity to range [0,1]
        const colorScale = d3.scaleLinear()
            .domain([0, 0.5, 1]) // Normalized values
            .range(["green", "yellow", "red"]); // Corresponding colors

        return colorScale(norm); // Return the mapped color
    }

    function parseData_fromserver(data) {
        const timestamps = data.df_timestamp;
        const predictions = data.y_pred_send;
        const originalData = data.df_feature_send;

        const severityData = data.counter_feature_s2
        const severityLabels = Object.keys(severityData);
        const severityValues = severityLabels.map(label => severityData[label].severity);
        const severityCounts = severityLabels.map(label => parseInt(severityData[label].count) + "%");

        const colors = severityValues.map(value => severity2color(value));

        return [timestamps, predictions, originalData, severityData, severityLabels, severityValues, severityCounts, colors]
    }

    let chart_array = [];
    let barchart = null;

    function updateChart() {
        var end_date = nowDateMoment.format("YYYY-MM-DDTHH:mm:ss"); // moment.utc();
        var start_date = nowDateMoment.subtract(2, 'hours').format("YYYY-MM-DDTHH:mm:ss");

        $.ajax({
            type: "GET",
            dataType: "json",
            data: { start_date: start_date, end_date: end_date },
            url: "/api/severity_plot",
            success: function (data) {
                [timestamps, predictions, originalData, severityData,
                    severityLabels, severityValues, severityCounts, colors] = parseData_fromserver(data)

                // Bar Chart 
                // barchart.data.labels = severityLabels
                // barchart.data.datasets[0] = { label: "Severity", data: severityValues, backgroundColor: colors, count: severityCounts }
                // barchart.update();
            }
        });
    }

    $(document).ready(function () {
        document.body.style.overflowY = 'hidden';

        var end_date = nowDateMoment.format("YYYY-MM-DDTHH:mm:ss");
        var start_date = nowDateMoment.subtract(2, 'hours').format("YYYY-MM-DDTHH:mm:ss");
        var start_dateNewyear = nowDateMoment.startOf('year').format("YYYY-MM-DDTHH:mm:ss");

        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/api/panel_summary",
            data: { start_date: start_date, end_date: end_date },
            success: function (data) {
                document.getElementById("last_calcdate").innerText = data.last_timestamp.replace("T", " ");

                for (const [i, p] of sensorPoints.entries()) {
                    const el = document.getElementById(p.id);
                    var current_sensor_value = data.last_sensor_featname[featureSet[i]];
                    var current_severity_value = data.last_severity_featname[featureSet[i]];
                    var current_unit = unitSet[i];
                    el.innerHTML = `<div class="btn custom_button_status" onclick="window.open('/advisory/chart?feat_id=${i}','_blank')" style="background-color: rgb(243, 243, 243); color: black">
                                                    ${p.name} | <span class="badge" style="background-color: ${severity2color(current_severity_value)}; color: black">${current_severity_value}</span> <span class="badge bg-secondary" style="color: black">${percentage2severity(current_severity_value)}</span><br> 
                                                    <span class="badge bg-dark text-light box_withborder">${current_sensor_value} ${current_unit}</span>`
                    if (current_severity_value > 1) {
                        el.innerHTML += `<span class="position-absolute translate-middle p-2 bg-danger border border-light rounded-circle" style="top:7%; left: 5%; background-color: ${severity2color(current_severity_value)}">
                                           <span class="visually-hidden">Warnings</span></span>`
                    }
                    el.innerHTML += "</div>"

                    el.style.top = `${p.top}%`;
                    el.style.left = `${p.left}%`;
                    el.style.right = `${p.right}%`;
                    el.style.zIndex = percentage2severity(current_severity_value);
                }

                document.getElementById("advisory_maintable").innerHTML = ""
                for (var i = 0; i < data.ordered_feature_name.length; i++) {
                    var now_key = data.ordered_feature_name[i];
                    var now_value = data.last_severity_featname[now_key];

                    document.getElementById("advisory_maintable").innerHTML += `
                        <tr>
                            <td>${now_key}</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: ${data.priority_parameter[now_key]}%; background-color: ${percentage2color(data.priority_parameter[now_key])}" aria-valuenow="${data.priority_parameter[now_key]}"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: ${percentageToWidth(now_value)}%; background-color: ${severity2color(now_value)}" aria-valuenow="${now_value}"
                                        aria-valuemin="0" aria-valuemax="6"></div>
                                </div>
                            </td>
                            <td><canvas id="sparkline_${i}" class="sparkline"></canvas></td>
                            <td><canvas id="barchart_${i}" class="sparkline"></canvas></td>
                        </tr>`
                }

                setTimeout(() => {
                    new DataTable('#example', {
                        paging: false,
                        info: false,
                        searchPanes: false,
                        searching: false,
                        order: [[2, 'asc']]
                    });

                    for (var i = 0; i < data.ordered_feature_name.length; i++) {
                        var now_key = data.ordered_feature_name[i];
                        var dataPoints_raw = data.sensor_featname[now_key];
                        var dataPoints_count = data.sever_count_featname[now_key];

                        const ctx1 = document.getElementById(`sparkline_${i}`).getContext('2d');
                        new Chart(ctx1, {
                            type: 'line',
                            data: {
                                labels: dataPoints_raw.map((_, i) => i + 1),
                                datasets: [{
                                    data: dataPoints_raw,
                                    borderColor: '#4CAF50',
                                    fill: false,
                                    borderWidth: 1,
                                    pointRadius: 0,
                                    tension: 0.3
                                }]
                            },
                            options: {
                                responsive: false,
                                plugins: {
                                    legend: { display: false },
                                    tooltip: { enabled: false }
                                },
                                scales: {
                                    x: { display: false },
                                    y: { display: false }
                                }
                            }
                        });

                        const labels_count = Object.keys(dataPoints_count);
                        const values_count = labels_count.map(key => dataPoints_count[key]);
                        const barColors_count = labels_count.map(key => severity2color(parseInt(key)));

                        const ctx2 = document.getElementById(`barchart_${i}`).getContext('2d');
                        new Chart(ctx2, {
                            type: 'bar',
                            data: {
                                labels: labels_count,
                                datasets: [{
                                    data: values_count,
                                    backgroundColor: barColors_count,
                                    borderRadius: 2
                                }]
                            },
                            options: {
                                responsive: false,
                                plugins: {
                                    legend: { display: false },
                                    tooltip: { enabled: false }
                                },
                                scales: {
                                    x: {
                                        display: true,
                                        offset: false,
                                        ticks: {
                                            font: { size: 7 },
                                            padding: 0,
                                            color: "#333"
                                        },
                                        grid: { display: false },
                                        title: { display: false }
                                    },
                                    y: {
                                        display: true,
                                        grid: { display: true },
                                        ticks: { display: true }
                                    }
                                }
                            }
                        });

                    }
                }, 500);
            }
        });

        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/api/zone_distribution",
            data: { start_date: start_dateNewyear, end_date: end_date },
            success: function (data) {
                setTimeout(() => {
                    new Chart(document.getElementById('operation_zoneChart').getContext('2d'), {
                        type: 'pie',
                        data: {
                            labels: Object.keys(data.operation_zone),
                            datasets: [{
                                data: Object.values(data.operation_zone),
                                hoverOffset: 4
                            }]
                        },
                        options: {
                            responsive: false,

                            plugins: {
                                title: {
                                    display: true,
                                    text: 'Load Distribution for the Year',
                                    font: {
                                        size: 10
                                    },
                                },
                                legend: {
                                    position: 'bottom',
                                    labels: {
                                        font: {
                                            size: 10
                                        }
                                    }
                                },
                                tooltip: {
                                    callbacks: {
                                        label: function (context) {
                                            const value = context.raw;
                                            const total = context.chart._metasets[0].total;
                                            const percentage = ((value / total) * 100).toFixed(1);
                                            return `${context.label}: ${value} (${percentage}%)`;
                                        }
                                    }
                                },
                                datalabels: {
                                    formatter: (value, context) => {
                                        const data = context.chart.data.datasets[0].data;
                                        const total = data.reduce((a, b) => a + b, 0);
                                        const percentage = ((value / total) * 100).toFixed(1);
                                        return percentage + '%';
                                    },
                                    color: '#fff',
                                    font: {
                                        weight: 'bold',
                                        size: 10
                                    }
                                }
                            }
                        },
                        plugins: [ChartDataLabels]
                    });

                    new Chart(document.getElementById('operation_modeChart').getContext('2d'), {
                        type: 'pie',
                        data: {
                            labels: Object.keys(data.operation_mode),
                            datasets: [{
                                data: Object.values(data.operation_mode),
                                hoverOffset: 4
                            }]
                        },
                        options: {
                            responsive: false,

                            plugins: {
                                title: {
                                    display: true,
                                    text: 'Mode Operation Distribution for the Year',
                                    font: {
                                        size: 10
                                    },
                                },
                                legend: {
                                    position: 'bottom',
                                    labels: {
                                        font: {
                                            size: 10
                                        }
                                    }
                                },
                                tooltip: {
                                    callbacks: {
                                        label: function (context) {
                                            const value = context.raw;
                                            const total = context.chart._metasets[0].total;
                                            const percentage = ((value / total) * 100).toFixed(1);
                                            return `${context.label}: ${value} (${percentage}%)`;
                                        }
                                    }
                                },
                                datalabels: {
                                    formatter: (value, context) => {
                                        const data = context.chart.data.datasets[0].data;
                                        const total = data.reduce((a, b) => a + b, 0);
                                        const percentage = ((value / total) * 100).toFixed(1);
                                        return percentage + '%';
                                    },
                                    color: '#fff',
                                    font: {
                                        weight: 'bold',
                                        size: 10
                                    }
                                }
                            }
                        },
                        plugins: [ChartDataLabels]
                    });
                }, 500);
            }
        });

        setInterval(() => {
            location.reload();
            //updateChart();
        }, 5 * 60 * 1000);
    });
</script>
{% endblock %}