<!-- templates/index.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home - Vale Dash{% endblock %}

{% block content %}

<style>
    #custom-tooltip {
        position: absolute;
        background: white;
        border: 1px solid black;
        padding: 10px;
        border-radius: 5px;
        pointer-events: auto;
        display: none;
        z-index: 1000;
    }
</style>

<div class="row" id="chart_container">
    <div class="col-md-6 col-sm-12">
        <div class="x_panel tile">
            <div class="x_title">
                <h2>Severity Chart</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <canvas id="barChart" style="width: 100%; height: 500px"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="x_panel tile">
            <div class="x_title">
                <h2>To be Developed</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- <canvas id="barChart" style="width: 100%; height: 500px"></canvas> -->
            </div>
        </div>
    </div>
</div>
<div class="row" id="chart_container">
    <div class="col-md-6 col-sm-12">
        <div class="x_panel tile">
            <div class="x_title">
                <h2>Original vs Prediction Sensor Data</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <canvas id="lineChart1" style="width: 100%; height: 300px"></canvas>
                <canvas id="lineChart2" style="width: 100%; height: 300px"></canvas>
                <canvas id="lineChart3" style="width: 100%; height: 300px"></canvas>
                <canvas id="lineChart4" style="width: 100%; height: 300px"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="x_panel tile">
            <div class="x_title">
                <h2>Loss and Threshold</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <canvas id="losslineChart1" style="width: 100%; height: 300px"></canvas>
                <canvas id="losslineChart2" style="width: 100%; height: 300px"></canvas>
                <canvas id="losslineChart3" style="width: 100%; height: 300px"></canvas>
                <canvas id="losslineChart4" style="width: 100%; height: 300px"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
    function severity2color(severity) {
        const norm = (severity - 1) / 5; // Normalize severity to range [0,1]
        const colorScale = d3.scaleLinear()
            .domain([0, 0.5, 1]) // Normalized values
            .range(["green", "yellow", "red"]); // Corresponding colors

        return colorScale(norm); // Return the mapped color
    }

    let chart_array = [];
    let losschart_array = [];
    let barchart = null;

    function updateChart() {
        var end_date = nowDateMoment.format("YYYY-MM-DDTHH:mm:ss"); // moment.utc();
        var start_date = nowDateMoment.subtract(2, 'hours').format("YYYY-MM-DDTHH:mm:ss");

        $.ajax({
            type: "GET",
            dataType: "json",
            data: { start_date: start_date, end_date: end_date },
            url: "/api/severity_plot",
            success: function (data) {
                const timestamps = data.df_timestamp;
                const predictions = data.y_pred_send;
                const originalData = data.df_feature_send;

                const severityData = data.counter_feature_s2
                const severityLabels = Object.keys(severityData);
                const severityValues = severityLabels.map(label => severityData[label].severity);
                const severityCounts = severityLabels.map(label => parseInt(severityData[label].count) + "%");

                const colors = severityValues.map(value => severity2color(value));

                // Line Charts
                severityLabels.slice(0, 4).forEach((feature, idx) => {
                    chart_array[idx].data.labels = timestamps
                    chart_array[idx].data.datasets[0] = { label: "Original", data: originalData.map(row => row[idx]), borderColor: "red", fill: false },
                        { label: "Prediction", data: predictions.map(row => row[idx]), borderColor: "blue", fill: false }
                    chart_array[idx].update();
                });

                // Bar Chart 
                barchart.data.labels = severityLabels
                barchart.data.datasets[0] = { label: "Severity", data: severityValues, backgroundColor: colors, count: severityCounts }
                barchart.update();
            }
        });
    }

    $(document).ready(function () {
        var end_date = nowDateMoment.format("YYYY-MM-DDTHH:mm:ss");
        var start_date = nowDateMoment.subtract(2, 'hours').format("YYYY-MM-DDTHH:mm:ss");

        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/api/severity_plot",
            data: { start_date: start_date, end_date: end_date },
            success: function (data) {
                const timestamps = data.df_timestamp;
                const predictions = data.y_pred_send;
                const originalData = data.df_feature_send;
                const lossData = data.loss_send;

                const severityData = data.counter_feature_s2
                const severityLabels = Object.keys(severityData);
                const severityValues = severityLabels.map(label => severityData[label].severity);
                const severityCounts = severityLabels.map(label => parseInt(severityData[label].count) + "%");

                const colors = severityValues.map(value => severity2color(value));

                // Line Charts
                severityLabels.slice(0, 4).forEach((feature, idx) => {
                    chart_array.push(new Chart(document.getElementById(`lineChart${idx + 1}`).getContext('2d'), {
                        type: 'line',
                        data: {
                            labels: timestamps,
                            datasets: [{ label: "Original", data: originalData.map(row => row[idx]), borderColor: "red", fill: false },
                            { label: "Prediction", data: predictions.map(row => row[idx]), borderColor: "blue", fill: false }]
                        },
                        options: {
                            responsive: true,
                            animation: { duration: 500 },
                            plugins: { legend: { display: true }, title: { display: true, text: feature } },
                            scales: {
                                x: xChartLineFormat,
                                y: {
                                    title: { display: true, text: unitSet[featureSet.indexOf(feature)] }
                                }
                            }
                        }
                    }));

                    var thresholdHighArray = new Array(timestamps.length).fill(data.thr_now_model[idx]);
                    losschart_array.push(new Chart(document.getElementById(`losslineChart${idx + 1}`).getContext('2d'), {
                        type: 'line',
                        data: {
                            labels: timestamps,
                            datasets: [{ label: "Loss", data: lossData.map(row => row[idx]), borderColor: "red", fill: false },
                            { label: "Threshold", data: thresholdHighArray, borderColor: "blue", fill: false }]
                        },
                        options: {
                            responsive: true,
                            animation: { duration: 500 },
                            plugins: {
                                legend: { display: true }, title: { display: true, text: feature },
                                annotation: {
                                    annotations: {
                                        line1: {
                                            type: 'line',
                                            yMin: data.thr_now_model[idx],
                                            yMax: data.thr_now_model[idx],
                                            borderColor: 'rgb(255, 99, 132)',
                                            borderWidth: 2,
                                            label: {
                                                display: true,
                                                content: "Threshold"
                                            }
                                        }
                                    }
                                }
                            },
                            scales: {
                                x: xChartLineFormat,
                                y: {
                                    title: { display: true, text: unitSet[featureSet.indexOf(feature)] }
                                }
                            }
                        },
                    }));
                });

                // Bar Chart
                barchart = new Chart(document.getElementById("barChart").getContext('2d'), {
                    type: 'bar',
                    data: {
                        labels: severityLabels,
                        datasets: [{
                            label: "Severity",
                            data: severityValues,
                            count: severityCounts,
                            backgroundColor: colors
                        }]
                    },
                    options: {
                        responsive: false,
                        indexAxis: 'y',
                        animation: { duration: 500 },
                        scales: {
                            x: { suggestedMin: 0, suggestedMax: 7, grid: { display: true, } }
                        },
                        plugins: {
                            legend: { display: false },
                            tooltip: { enabled: true },
                            datalabels: {
                                anchor: 'center',
                                align: 'center',
                                color: 'white',
                                font: { weight: 'bold' },
                                formatter: (value, context) => {
                                    return context.dataset.count[context.dataIndex];
                                }
                            }
                        },
                        onClick: (event, elements) => {
                            if (elements.length > 0) {
                                const index = elements[0].index;
                                const selectedFeature = severityLabels[index];
                                alert(`You clicked on ${selectedFeature}`);
                            }
                        }
                    },
                    plugins: [ChartDataLabels]
                });
            }
        });

        setInterval(() => {
            updateChart();
        }, 5 * 60 * 1000);
    });

    // Reset Zoom Button
    function resetZoom(index_chart) {
        chart_array[index_chart].resetZoom();
    }
</script>
<script>


    // const maxY = Math.max(...data.map(d => d.y));
    // const flatY = maxY * 1.03;
    // const flatData = data.map(d => ({ x: d.x, y: flatY }));

    // const clickableIndexes = [0, 2, 4, 6, 8]; // Only these indexes will be clickable

    // const tooltipEl = document.getElementById('custom-tooltip');

    // const chart = new Chart(ctx, {
    //     type: 'line',
    //     data: {
    //         datasets: [{
    //             label: 'Line Chart',
    //             data: data,
    //             borderColor: 'blue',
    //             backgroundColor: 'transparent',
    //             tension: 0.4,
    //             pointBackgroundColor: (ctx) => clickableIndexes.includes(ctx.dataIndex) ? 'red' : 'transparent',
    //             pointRadius: (ctx) => clickableIndexes.includes(ctx.dataIndex) ? 5 : 0,
    //             pointHoverRadius: (ctx) => clickableIndexes.includes(ctx.dataIndex) ? 7 : 0,
    //             parsing: {
    //                 xAxisKey: 'x',
    //                 yAxisKey: 'y'
    //             }
    //         }, {
    //             label: 'Flat Scatter',
    //             type: 'scatter',
    //             data: flatData,
    //             borderColor: 'green',
    //             backgroundColor: 'green',
    //             pointRadius: 5,
    //             tension: 0
    //         }]
    //     },
    //     options: {
    //         responsive: true,
    //         scales: {
    //             x: {
    //                 type: 'time',
    //                 time: {
    //                     unit: 'minute'
    //                 },
    //                 title: {
    //                     display: true,
    //                     text: 'Timestamp'
    //                 }
    //             },
    //             y: {
    //                 title: {
    //                     display: true,
    //                     text: 'Value'
    //                 }
    //             }
    //         },
    //         plugins: {
    //             tooltip: {
    //                 enabled: false,
    //             }
    //         },
    //         onClick: (event, elements) => {
    //             if (elements.length > 0) {
    //                 const index = elements[0].index;
    //                 if (!clickableIndexes.includes(index)) return;

    //                 const pointData = data[index];
    //                 const meta = chart.getDatasetMeta(0);
    //                 const point = meta.data[index];
    //                 const canvasRect = chart.canvas.getBoundingClientRect();

    //                 tooltipEl.innerHTML = `Time: ${pointData.x}<br>Value: ${pointData.y}<br>
    //                     <button class="btn btn-primary btn-sm mt-2" onclick="openModal()">Open Modal</button>`;

    //                 const left = point.x;
    //                 const top = point.y - tooltipEl.offsetHeight - 10;

    //                 tooltipEl.style.left = left + 'px';
    //                 tooltipEl.style.top = top + 'px';
    //                 tooltipEl.style.display = 'block';
    //             } else {
    //                 tooltipEl.style.display = 'none';
    //             }
    //         }
    //     }
    // });

    function openModal() {
        var modal = new bootstrap.Modal(document.getElementById('myModal'));
        modal.show();
    }
</script>
{% endblock %}