<!-- templates/index.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home - Vale Dash{% endblock %}

{% block content %}

<style>
    #custom-tooltip {
        position: absolute;
        background: white;
        border: 1px solid black;
        padding: 10px;
        border-radius: 5px;
        pointer-events: auto;
        display: none;
        z-index: 1000;
    }
</style>

<div class="row" id="chart_container">
    <div class="col-md-8 col-sm-12 px-0">
        <div class="x_panel tile">
            <div class="x_title">
                <h2>Severity Chart</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <canvas id="barChart" style="width: 100%; height: 500px"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 px-0">
        <div class="x_panel tile">
            <div class="x_title">
                <h2>Information</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th style="width:25%">Server Time</th>
                                        <td id="current-time"></td>
                                    </tr>
                                    <tr>
                                        <th>Last update</th>
                                        <td id="last-update"></td>
                                    </tr>
                                    <tr>
                                        <th>Next Update</th>
                                        <td id="next-update"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr />
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th style="width:25%">Models Used in Calc</th>
                                        <td>6</td>
                                    </tr>
                                    <tr>
                                        <th>Threshold Setting</th>
                                        <td>Dynamic</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="chart_container">
    <div class="col-md-6 col-sm-12 px-0">
        <div class="x_panel tile">
            <div class="x_title">
                <h2>Original vs Prediction Sensor Data</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <canvas id="lineChart1" style="width: 100%; height: 300px"></canvas>
                <hr />
                <canvas id="lineChart2" style="width: 100%; height: 300px"></canvas>
                <hr />
                <canvas id="lineChart3" style="width: 100%; height: 300px"></canvas>
                <hr />
                <canvas id="lineChart4" style="width: 100%; height: 300px"></canvas>
                <hr />
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 px-0">
        <div class="x_panel tile">
            <div class="x_title">
                <h2>Loss and Threshold</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <canvas id="losslineChart1" style="width: 100%; height: 300px"></canvas>
                <hr />
                <canvas id="losslineChart2" style="width: 100%; height: 300px"></canvas>
                <hr />
                <canvas id="losslineChart3" style="width: 100%; height: 300px"></canvas>
                <hr />
                <canvas id="losslineChart4" style="width: 100%; height: 300px"></canvas>
                <hr />
            </div>
        </div>
    </div>
</div>

<script>
    function severity2color(severity) {
        const norm = (severity - 1) / 5;
        const colorScale = d3.scaleLinear()
            .domain([0, 0.5, 1]) // Normalized values
            .range(["green", "yellow", "red"]); // Corresponding colors

        return colorScale(norm); // Return the mapped color
    }

    function parseData_fromserver(data) {
        const timestamps = data.df_timestamp;
        const predictions = data.y_pred_send;
        const originalData = data.df_feature_send;
        const lossData = data.loss_send;

        const severityData = data.counter_feature_s2
        const severityLabels = Object.keys(severityData);
        const severityValues = severityLabels.map(label => severityData[label].severity);
        const severityCounts = severityLabels.map(label => parseInt(severityData[label].count) + "%");

        const colors = severityValues.map(value => severity2color(value));

        return [timestamps, predictions, originalData, lossData, severityData, severityLabels, severityValues, severityCounts, colors]
    }

    let chart_array = [];
    let losschart_array = [];
    let barchart = null;

    function updateChart() {
        var end_date = nowDateMoment.format("YYYY-MM-DDTHH:mm:ss"); // moment.utc();
        var start_date = nowDateMoment.subtract(2, 'hours').format("YYYY-MM-DDTHH:mm:ss");

        $.ajax({
            type: "GET",
            dataType: "json",
            data: { start_date: start_date, end_date: end_date },
            url: "/api/severity_plot",
            success: function (data) {
                let [timestamps, predictions, originalData, lossData, severityData, severityLabels, severityValues, severityCounts, colors] = parseData_fromserver(data)

                // Line Charts
                severityLabels.slice(0, 4).forEach((feature, idx) => {
                    chart_array[idx].data.labels = timestamps;
                    chart_array[idx].data.datasets[0] = { label: "Original", data: originalData.map(row => row[idx]), borderColor: "red", fill: false },
                        { label: "Prediction", data: predictions.map(row => row[idx]), borderColor: "blue", fill: false }
                    chart_array[idx].update();

                    losschart_array[idx].data.labels = timestamps;
                    losschart_array[idx].data.datasets[0] = { label: "Loss", data: lossData.map(row => row[idx]), backgroundColor: "black", borderColor: "black", fill: false }

                    losschart_array[idx].options.plugins.annotation.annotations[0].yMin = data.thr_now_model[idx]
                    losschart_array[idx].options.plugins.annotation.annotations[0].yMax = data.thr_now_model[idx]

                    losschart_array[idx].update();
                });

                // Bar Chart 
                barchart.data.labels = severityLabels
                barchart.data.datasets[0] = { label: "Severity", data: severityValues, backgroundColor: colors, count: severityCounts }
                barchart.update();
            }
        });
    }

    $(document).ready(function () {
        var end_date = nowDateMoment.format("YYYY-MM-DDTHH:mm:ss");
        var start_date = nowDateMoment.subtract(1, 'hours').format("YYYY-MM-DDTHH:mm:ss");

        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/api/severity_plot",
            data: { start_date: start_date, end_date: end_date },
            success: function (data) {
                let [timestamps, predictions, originalData, lossData,
                    severityData, severityLabels, severityValues, severityCounts, colors] = parseData_fromserver(data)

                var copy_timestamp = timestamps.map(ts => new Date(ts));
                document.getElementById("current-time").textContent =
                    new Date().toLocaleString('en-GB', {
                        timeZone: 'Asia/Makassar',
                        year: 'numeric',
                        month: '2-digit',
                        day: '2-digit',
                        hour: '2-digit',
                        minute: '2-digit',
                        second: '2-digit'
                    });

                // Line Charts
                severityLabels.slice(0, 4).forEach((feature, idx) => {
                    chart_array.push(new Chart(document.getElementById(`lineChart${idx + 1}`).getContext('2d'), {
                        type: 'line',
                        data: {
                            labels: timestamps,
                            datasets: [{ label: "Original", data: originalData.map(row => row[idx]), backgroundColor: "red", borderColor: "red", fill: false },
                            { label: "Prediction", data: predictions.map(row => row[idx]), backgroundColor: "blue", borderColor: "blue", fill: false }]
                        },
                        options: {
                            responsive: true,
                            animation: { duration: 500 },
                            plugins: { legend: { display: true }, title: { display: true, text: feature } },
                            scales: {
                                x: xChartLineFormat,
                                y: {
                                    title: { display: true, text: unitSet[featureSet.indexOf(feature)] }
                                }
                            }
                        }
                    }));

                    losschart_array.push(new Chart(document.getElementById(`losslineChart${idx + 1}`).getContext('2d'), {
                        type: 'line',
                        data: {
                            labels: timestamps,
                            datasets: [{ label: "Loss", data: lossData.map(row => row[idx]), backgroundColor: "black", borderColor: "black", fill: false }]
                        },
                        options: {
                            responsive: true,
                            animation: { duration: 500 },
                            plugins: {
                                legend: { display: true }, title: { display: true, text: feature },
                                annotation: {
                                    annotations: [{
                                        type: 'line',
                                        yMin: data.thr_now_model[idx],
                                        yMax: data.thr_now_model[idx],
                                        borderColor: 'red',
                                        borderWidth: 3,
                                        label: {
                                            display: true,
                                            position: 'center',
                                            content: "Threshold",
                                            drawTime: 'afterDatasetsDraw',
                                        }
                                    }]
                                }
                            },
                            scales: {
                                x: xChartLineFormat,
                                y: {
                                    title: { display: true, text: unitSet[featureSet.indexOf(feature)] }
                                }
                            }
                        },
                    }));
                });

                // Bar Chart
                barchart = new Chart(document.getElementById("barChart").getContext('2d'), {
                    type: 'bar',
                    data: {
                        labels: severityLabels,
                        datasets: [{
                            label: "Severity",
                            data: severityValues,
                            count: severityCounts,
                            backgroundColor: colors
                        }]
                    },
                    options: {
                        responsive: false,
                        indexAxis: 'y',
                        animation: { duration: 500 },
                        scales: {
                            x: { suggestedMin: 0, suggestedMax: 7, grid: { display: true, } }
                        },
                        plugins: {
                            legend: { display: false },
                            tooltip: { enabled: true },
                            datalabels: {
                                anchor: 'center',
                                align: 'center',
                                color: 'white',
                                font: { weight: 'bold' },
                                formatter: (value, context) => {
                                    return context.dataset.count[context.dataIndex];
                                }
                            }
                        },
                        onClick: (event, elements) => {
                            if (elements.length > 0) {
                                const index = elements[0].index;
                                const selectedFeature = severityLabels[index];
                                alert(`You clicked on ${selectedFeature}`);
                            }
                        }
                    },
                    plugins: [ChartDataLabels]
                });
            }
        });

        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/api/timeinfo_detail",
            data: { start_date: start_date, end_date: end_date },
            success: function (data) {
                const lastUpdateUtc = new Date(
                    data.datetime_last.endsWith('Z')
                        ? data.datetime_last
                        : data.datetime_last + 'Z'
                );

                document.getElementById("last-update").textContent =
                    lastUpdateUtc.toLocaleString('en-GB', {
                        timeZone: 'Asia/Makassar',
                        year: 'numeric',
                        month: '2-digit',
                        day: '2-digit',
                        hour: '2-digit',
                        minute: '2-digit',
                        second: '2-digit'
                    });

                const nextUpdate = new Date(lastUpdateUtc.getTime() + 10 * 60 * 1000);
                document.getElementById("next-update").textContent =
                    nextUpdate.toLocaleString('en-GB', {
                        timeZone: 'Asia/Makassar',
                        year: 'numeric',
                        month: '2-digit',
                        day: '2-digit',
                        hour: '2-digit',
                        minute: '2-digit',
                        second: '2-digit'
                    });
            }
        })

        setInterval(() => {
            location.reload();
            //updateChart();
        }, 5 * 60 * 1000);
    });
</script>
{% endblock %}