<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}Advisory - Vale Dash{% endblock %}

{% block content %}
<style>
    .custom_button_status {
        /* height: 5vh; */
        font-size: 0.7rem;
        /* border-radius: 5px; */
        /* border-color: black;
        border-width: 2px; */
    }

    .box_withborder {
        border-radius: 5px;
        border-color: black;
        border-width: 2px;
    }

    .sparkline {
        width: 110px;
        height: 20px;
    }
</style>

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="dashboard_graph">
            <div class="row x_title">
                <div class="col-md-6">
                    <h3>Advisory Table</h3>
                </div>
                <div class="col-md-6">
                </div>
            </div>

            <div class="col-md-12 col-sm-12 ">
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Assets Name</th>
                            <th>Priority</th>
                            <th>Severity</th>
                            <th>Severity Count</th>
                            <th>Last Data Collection</th>
                            <th>Anomaly Count</th>
                            <th>First Anomaly Date</th>
                            <th>Advisory Messages</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="advisory_maintable">
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Assets Name</th>
                            <th>Priority</th>
                            <th>Severity</th>
                            <th>Severity Count</th>
                            <th>Last Data Collection</th>
                            <th>Anomaly Count</th>
                            <th>First Anomaly Date</th>
                            <th>Advisory Messages</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<script>
    function percentageToWidth(severity) {
        return (severity / 6) * 100;
    }

    function severity2color(severity) {
        const norm = (severity - 1) / 5; // Normalize severity to range [0,1]
        const colorScale = d3.scaleLinear()
            .domain([0, 0.5, 1]) // Normalized values
            .range(["green", "yellow", "red"]); // Corresponding colors

        return colorScale(norm); // Return the mapped color
    }

    function percentage2color(severity) {
        const norm = severity / 100; // Normalize severity to range [0,1]
        const colorScale = d3.scaleLinear()
            .domain([0, 0.5, 1]) // Normalized values
            .range(["green", "yellow", "red"]); // Corresponding colors

        return colorScale(norm); // Return the mapped color
    }

    $(document).ready(function () {
        var end_date = nowDateMoment.format("YYYY-MM-DDTHH:mm:ss");
        var start_date = nowDateMoment.subtract(2, 'hours').format("YYYY-MM-DDTHH:mm:ss");

        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/api/advisory_table",
            data: { start_date: start_date, end_date: end_date },
            success: function (data) {
                console.log(data.priority_parameter)

                document.getElementById("advisory_maintable").innerHTML = ""
                for (let [key, value] of Object.entries(data.last_severity_featname)) {
                    console.log()
                    document.getElementById("advisory_maintable").innerHTML += `
                        <tr>
                            <td>${key}</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: ${100 - data.priority_parameter[key]}%; background-color: ${percentage2color(data.priority_parameter[key])}" aria-valuenow="${data.priority_parameter[key]}"
                                        aria-valuemin="0" aria-valuemax="100"></div> 
                                </div>
                            </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: ${percentageToWidth(value)}%; background-color: ${severity2color(value)}" aria-valuenow="${value}"
                                        aria-valuemin="0" aria-valuemax="6"></div>
                                </div>
                            </td>
                            <td><canvas id="barchart_${key.replace(" ", "_")}" class="sparkline"></canvas></td>
                            <td>${data.last_timestamp.replace("T", " ")}</td>
                            <td>${data.severity_counter_overyear[key.replace(/ /g, "_")].count_above_5}</td>
                            <td>${data.severity_counter_overyear[key.replace(/ /g, "_")].first_timestamp.replace("T", " ")}</td>
                            <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</td>
                            <td><button class="btn btn-primary" onclick="window.open('/advisory/chart?feat_id=${featureSet.indexOf(key)}','_blank')">Chart</button></td>
                        </tr>`
                }

                setTimeout(() => {
                    new DataTable('#example', {
                        paging: false,
                        info: false,
                        searchPanes: false,
                        order: [[2, 'desc']]
                    });

                    for (var i = 0; i < featureSet.length; i++) {
                        var now_key = featureSet[i];
                        var dataPoints_count = data.sever_count_featname[now_key];

                        const labels_count = Object.keys(dataPoints_count);
                        const values_count = labels_count.map(key => dataPoints_count[key]);
                        const barColors_count = labels_count.map(key => severity2color(parseInt(key)));

                        const ctx2 = document.getElementById(`barchart_${now_key.replace(" ", "_")}`).getContext('2d');
                        new Chart(ctx2, {
                            type: 'bar',
                            data: {
                                labels: labels_count,
                                datasets: [{
                                    data: values_count,
                                    backgroundColor: barColors_count,
                                    borderRadius: 2
                                }]
                            },
                            options: {
                                responsive: false,
                                plugins: {
                                    legend: { display: false },
                                    tooltip: { enabled: false }
                                },
                                scales: {
                                    x: {
                                        display: true,
                                        offset: false,
                                        ticks: {
                                            font: { size: 7 },
                                            padding: 0,
                                            color: "#333"
                                        },
                                        grid: { display: false },
                                        title: { display: false }
                                    },
                                    y: {
                                        display: true,
                                        grid: { display: true },
                                        ticks: { display: true }
                                    }
                                }
                            }
                        });

                    }
                }, 500);
            }
        });
    });
</script>
{% endblock %}